/* Farben:
 * basis: #6775FF
 * lila hell: #818CFF
 * lila dunkel: #1D224F
 * gelb hell: #FFDE67
 * gelb dunkel: #B29425 
 */

body {
    margin: 0px;
    padding: 0px;
    color: #1D224F;
    background: #818CFF;
}

.icon {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
}

.nav_bar_icon {
    text-align: center;
    width: 1.5em;
    font-size: 160%;
}

#nav_bar_icon_home::before {
    content: "\f015";
}

#nav_bar_icon_book::before {
    content: "\f02d";
}

#nav_bar_icon_dvd::before {
    content: "\f008";
}

#nav_bar_icon_music::before {
    content: "\f001";
}

#nav_bar_icon_game::before {
    content: "\f11b";
}

#nav_bar_icon_magazine::before {
    content: "\f1ea";
}

#community_bar_icon_admin::before {
    content: "\f085";
}

#community_bar_icon_facebook::before {
    content: "\f230";
}

#community_bar_icon_google::before {
    content: "\f0d5";
}

#community_bar_icon_twitter::before {
    content: "\f099";
}

#community_bar_icon_github::before {
    content: "\f09b";
}



.nav_bar_icon_container {
    text-align: center;
    padding: 0.5em;
    display: block;
    float: left;
    min-width: 2.2em;
    height: 2.2em;
    line-height: 1.4em;
    color: #FFDE67;
    background: linear-gradient(to top, #6270FF 0%,#7280FF 100%);
    transition: color 0.2s;
    text-decoration: none;
}

.nav_bar_icon_container:hover {
    background: linear-gradient(to top, #FFD962 0%,#FFE36C 100%);
    color: #6775FF;
}

.nav_bar_icon_container:active {
    background: linear-gradient(to top, #FFD962 0%,#FFE36C 100%);
    color: #6775FF;
}

.nav_bar_icon_container:visited {
    background: linear-gradient(to top, #6270FF 0%,#7280FF 100%);
    color: #FFDE67;
}

.nav_bar_icon_container:visited:hover {
    background: linear-gradient(to top, #FFD962 0%,#FFE36C 100%);
    color: #6775FF;
}


.community_bar_icon_container {
    padding-top: 1em;
    padding-bottom: 0em;
}

.nav_bar_icon_text {
    display: block;
    font-size: 60%;
}

.nav_bar {
    position: relative;
    left: 10%;
    margin-left: -4.5em;
}

.community_bar {
/*    position: relative;
 *   left: 10%;
 *   margin-left: -4.5em;
 */
    float: right;
}


.search_bar {
    background: #FFDE67;
    background: linear-gradient(to top, #FFD962 0%,#FFE36C 100%);
    color: #6775FF;
    height: 3.2em;
    margin: 0 0 0 0;
    padding: 0 0em 0 1em;
    float: right;
}

.search_bar_input:focus {
    width: 25em;
}

.search_bar_input {
    transition: width 0.5s;
    width: 8em;
    outline: none;
    background: linear-gradient(to top, #FFFFFF 0%,#F0F0F0 100%);
    vertical-align: top;
    margin-top: 0.45em;
    height: 2em;
    font-size: 110%;
    padding-left: 1em;
    padding-right: 1em;
    color: #1D224F;
    border-radius: 0.35em;
    border: 0px solid #818CFF;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.15);
}

.search_bar_button {
    transition: color 0.2s;
    outline: none;
    color: #6775FF;
    font-family: FontAwesome;
    font-weight: bold;
    font-size: 100%;
    width: 3.2em;
    height: 3.2em;
    background: none;
    border: 0px;
}

.search_bar_button:hover {
    background: linear-gradient(to top, #6270FF 0%,#7280FF 100%);
    color: #FFDE67;
    cursor: pointer;
}

#search_bar_icon_search::before {
    content: "\f002";
}

#header_bar {
    position: fixed;
    top: 0px;
    background: #6775FF;
    background: linear-gradient(to top, #6270FF 0%,#7280FF 100%);
    font-size: 100%;
    width: 100%;
    height: 3.2em;
    color: #FFDE67;
}

#content {
    padding: 1em;
    margin: 3em 5em 1em 5em;
    color: #1D224F;
}

.home_media_short_block {
    padding: 1em;
    margin: 1em;
    border: 1px solid #6775FF;
    background: white;
    float: left;
    min-height: 15em;
    max-width: 42%;
    border-radius: 0.5em;
}

.short_block_cover {
    min-height: 150px;
    max-height: 150px;
    border: 1px solid #6775FF;
    float: right;
    border-radius: 0.5em;
}

.short_block_header1 {
    font-size: 110%;
}
.short_block_header2 {
    font-size: 90%;
}

.short_block_paragraph {
}

#footer_bar {
    position: fixed;
    text-align: center;
    bottom: 0em;
    padding: 0.2em;
    font-size: 70%;
    width: 100%;
    height: 1em;
    color: #FFDE67;
    background: #6775FF;
    background: linear-gradient(to top, #6270FF 0%,#7280FF 100%);
}
